---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="card w-full">
	<a href={href}>
		<h3 class="text-lg md:text-xl font-semibold text-teal-600">
			{title}
		</h3>
		<p>{body}</p>
		<a href={href} class="text-teal-500 mt-2">Show more <span>→</span></a>
	</a>
</div>

<style>
	:root {
		--link-gradient: linear-gradient(
			45deg,
			#4f39fa,
			#da62c4 30%,
			var(--color-border) 60%
		);
	}

	.card {
		@apply border-2 border-gray-200 rounded-md shadow-md p-4 overflow-scroll flex flex-col;
	}

	span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.card:is(:hover, :focus-within) a span {
		will-change: transform;
		transform: translateX(2px);
	}
</style>
