---
import Card from "../../components/Card.astro";

import json from "./projects.json";
const projects = json;
---

<body title={"Moin!"}>
    <a href="/">
    <h2>back to Start</h2></a>

    <!-- What's this about-Box -->
    <div class="lp-area">
        <h2>What's this side about anyway?</h2>
        <p>
            I like to build stuff, I like technology and I learned to program
            early in my life. While I was following a different path in my
            career – I am currently a product owner and worked as project
            manager before – I never lost interest in building digital products
            and services myself. Lately, I got interested in new web frameworks,
            how they work, which advantages and disadvantages they have and how
            to utilize them. As I was also thinking about a digital business
            card for a long time already, I figured this to be the perfect
            project to learn something new.
        </p>
        <p>
            Therefore, this page is mainly created by using the <a
                class="inline external"
                target="_blank"
                href="https://astro.build">Astro framework</a
            > – a pretty new one on the block that focuses heavily on providing the
            fastest load times for websites with mainly stabel content. However,
            they also offer partial hydration by adding Astro islands, a concept
            that allows you to integrate dynamic components from your favorite UI
            and JavaScript frameworks. I am currently also learning to build with
            <a class="inline external" target="_blank" href="https://vuejs.org"
                >VueJS</a
            >, so this is my framework of choice for the dynamic parts of this
            site.
        </p>
    </div>

    <hr class="area-seperator" />

    <!-- Projects-Overview -->
    <div class="lp-area">
        <h2 class="inline-block">
            Projects
            <a href="/projects"> Show all</a>
        </h2>
        <p>👀 Check out the latest updates of my projects:</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {
                projects.map((project) => (
                    <Card
                        title={project.title}
                        href={"/projects/" + project.slug}
                        body={project.shortDesc}
                    />
                ))
            }
        </div>
    </div>

    <hr class="area-seperator" />

    <style>
        h2 {
            @apply text-2xl md:text-4xl font-bold text-teal-600 mb-4;
        }

        p {
            @apply text-lg mb-4;
        }

        div.lp-area {
            @apply w-screen max-w-4xl py-5 md:py-8 mx-auto px-8;
        }

        hr.area-seperator {
            @apply border w-3/4 mx-auto;
        }

        h2 > a {
            @apply text-sm text-gray-500 align-baseline pl-3;
        }

        h2 > a::after {
            content: " →";
        }

        a.inline {
            @apply underline decoration-dotted decoration-2;
        }

        a.external::after {
            content: " ↗";
        }
    </style>
</body>
